@font-face {
font-family: 'AirbnbCerealAppBold';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Bold'), url('./assests/airbnb-cereal/AirbnbCerealBold.woff') format('woff');
}


body {
  margin: 0;
  font-family: 'AirbnbCerealAppBold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
